<ion-content>

  <ion-toolbar>
    <ion-title>
      {{ point.nome }}
    </ion-title>
    <ion-buttons end>
      <button (click)="dismiss()" ion-button icon-only>
        <ion-icon name='close' color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div padding>
    <ion-segment [(ngModel)]="measure">
      <ion-segment-button value="temperatura">
        <ion-icon name="thermometer"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="umidade">
        <ion-icon name="water"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="qualidade_ar">
        <ion-icon name="snow"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <div margin-top>
      <div *ngIf="measure == 'temperatura'">
        Temperatura: {{ realTime?.temperatura }}°C
        <hr>
        {{ realTime.dica_temperatura }}
      </div>
      <div *ngIf="measure == 'umidade'">
        Umidade: {{ realTime?.umidade }}
        <hr>
        {{ realTime.dica_umidade }}
      </div>
      <div *ngIf="measure == 'qualidade_ar'">
        Qualidade do Ar: {{ realTime?.qualidade_ar }}
        <hr>
        {{ realTime.dica_qualidade_ar }}
      </div>
    </div>
  </div>

</ion-content>
