<ion-content>
  <div class="logo">
    <img src="/assets/imgs/logo.png">
  </div>

  <div class="form-conteiner">
    <form [formGroup]="form" novalidate>
      <ion-list>
        <ion-item margin-top>
          <ion-input text-center type="email" placeholder="E-MAIL" [formControl]="form.controls['email']"></ion-input>
        </ion-item>
        <div *ngIf="!form.controls['email'].valid && form.controls['email'].dirty" class="danger">
          <p *ngIf="form.controls['email'].hasError('email')">* Formato Inválido</p>
          <p *ngIf="form.controls['email'].hasError('required')">* Obrigatório</p>
        </div>
        <ion-item margin-top>
          <ion-input text-center type="password" placeholder="SENHA" [formControl]="form.controls['password']"></ion-input>
        </ion-item>
        <div *ngIf="(!form.controls['password'].valid && form.controls['password'].dirty) || serverError" class="danger">
          <p *ngIf="form.controls['password'].hasError('required')">* Obrigatória</p>
          <p *ngIf="form.controls['password'].hasError('minlength')">* Minimo de 6 letras</p>
          <p *ngIf="serverError">* {{ serverError }}</p>
        </div>
        <button margin-top ion-button [disabled]="!form.valid || loading" (click)="login()">
          <span *ngIf="!loading">LOGIN</span>
          <ion-spinner *ngIf="loading"></ion-spinner>
        </button>
        <div margin-top text-center tappable (click)="createAccount()">
          <span>Ainda não esta cadastrado, Cadastre-se</span>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
