page-login {

  .logo {
    width: 100vw;
    height: 40vh;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }

  .form-conteiner {
    width: 100vw;
    height: 50vh;
    position: relative;

    ion-list {
      width: 80vw;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      ion-item, button {
        border-radius: 15px;
      }

      ion-item {
        border: none;
        background-color: color($colors, light);

        .item-inner {
          box-shadow: none;
        }
      }

      button {
        width: 100%;
        height: 48px;
      }
    }
  }
}
