page-register {

  .image-conteiner {
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    img {
      height: 35px;
    }
  }

  .user-image {
    height: 100px;
    width: 100px;
    border-radius: 40%;
    margin: 20px auto 0 auto;
    &.blank {
      background-color: grey;
      ion-icon {
        font-size: 40px;
        margin-top: 25%;
      }
    }
  }

  .form-conteiner {
    padding: 0 15px;
    ion-item {
      margin-top: 10px;
      border: none;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
      border-radius: 10px;

      &.inline {
        width: calc(50% - 2px);
        display: inline-block;
      }
    }

    .buttons {
      width: calc(50% - 6px);
      height: 50px;
      border-radius: 15px;

      &.cancel {
        background-color: #6d7afa;
      }

      &.register {
        background-color: #39cce1;
      }
    }
  }

}
