<ion-content>
  <form [formGroup]="form" novalidate>

    <div class="image-conteiner">
      <img text-right src="/assets/imgs/logo.png">
    </div>

    <ion-row text-center>
      <img *ngIf="form.controls['avatar'].value; else userImageBlank" [src]="form.controls['avatar'].value" class="user-image"
        (click)="getUserImage()">
      <ng-template #userImageBlank>
        <div tappable (click)="getUserImage()" class="user-image blank">
          <ion-icon name="md-image"></ion-icon>
        </div>
      </ng-template>
    </ion-row>
    <ion-input hidden="true" [formControl]="form.controls['avatar']" type="text"></ion-input>
    <div *ngIf="!form.controls['avatar'].valid && form.controls['avatar'].dirty" class="danger">
      <p *ngIf="form.controls['avatar'].hasError('required')">* Obrigatório</p>
    </div>

    <ion-list class="form-conteiner" margin-top no-lines>
      <ion-item>
        <ion-input class="inputs" placeholder="Nome" [formControl]="form.controls['nome']"></ion-input>
      </ion-item>
      <div *ngIf="!form.controls['nome'].valid && form.controls['nome'].dirty" class="danger">
        <p *ngIf="form.controls['nome'].hasError('required')">* Obrigatório</p>
        <p *ngIf="form.controls['nome'].hasError('minlength')">* Minimo de 3 letras</p>
      </div>
      <ion-item>
        <ion-input class="inputs" type="email" placeholder="E-mail" [formControl]="form.controls['email']"></ion-input>
      </ion-item>
      <div *ngIf="!form.controls['email'].valid && form.controls['email'].dirty" class="danger">
        <p *ngIf="form.controls['email'].hasError('email')">* Formato Inválido</p>
        <p *ngIf="form.controls['email'].hasError('required')">* Obrigatório</p>
        <p *ngIf="form.controls['email'].hasError('unavailable')">* Usuario já existe</p>
      </div>
      <ion-item>
        <ion-input class="inputs" type="password" placeholder="Senha" [formControl]="form.controls['password']"></ion-input>
      </ion-item>
      <div *ngIf="!form.controls['password'].valid && form.controls['password'].dirty" class="danger">
        <p *ngIf="form.controls['password'].hasError('required')">* Obrigatória</p>
        <p *ngIf="form.controls['password'].hasError('minlength')">* Minimo de 6 letras</p>
      </div>
      <ion-item>
        <ion-input class="inputs" type="password" placeholder="Confirmar Senha" [formControl]="form.controls['confirmarSenha']"></ion-input>
      </ion-item>
      <div *ngIf="form.hasError('mismatchedPasswords') && form.controls['confirmarSenha'].dirty" class="danger">
        <p>* As senhas não são iguais</p>
      </div>
      <ion-item>
        <ion-label>Gênero</ion-label>
        <ion-select cancelText="Cancelar" [formControl]="form.controls['genero']">
          <ion-option value="masculino">Masculino</ion-option>
          <ion-option value="feminino">Feminino</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="!form.controls['genero'].valid && form.controls['genero'].dirty" class="danger">
        <p *ngIf="form.controls['password'].hasError('required')">* Obrigatório</p>
      </div>
      <ion-item>
        <ion-input
          class="inputs"
          type="tel"
          placeholder="Telefone"
          maxlength="15"
          [brmasker]="{phone: true}"
          [formControl]="form.controls['telefone']">
        </ion-input>
      </ion-item>
      <div *ngIf="!form.controls['telefone'].valid && form.controls['telefone'].dirty" class="danger">
        <p *ngIf="form.controls['telefone'].hasError('required')">* Obrigatório</p>
        <p *ngIf="form.controls['telefone'].hasError('minlength') || form.controls['telefone'].hasError('maxlength')">* Formato Inválido</p>
      </div>
      <ion-item class="inline">
        <ion-input
          class="inputs"
          type="tel"
          placeholder="Altura"
          maxlength="4"
          [brmasker]="{mask:'0.00', len:4, type:'num'}"
          [formControl]="form.controls['altura']">
        </ion-input>
      </ion-item>
      <ion-item class="inline">
        <ion-input
          class="inputs"
          type="tel"
          placeholder="Peso"
          maxlength="3"
          [brmasker]="{mask:'000', len:3, type:'num'}"
          [formControl]="form.controls['peso']">
        </ion-input>
      </ion-item>
      <div *ngIf="!form.controls['altura'].valid && form.controls['altura'].dirty" class="danger">
        <p *ngIf="form.controls['altura'].hasError('min')">* Valor baixo</p>
        <p *ngIf="form.controls['altura'].hasError('max')">* Valor alto</p>
      </div>
      <div *ngIf="!form.controls['peso'].valid && form.controls['peso'].dirty" class="danger">
        <p *ngIf="form.controls['peso'].hasError('min')">* Valor baixo</p>
        <p *ngIf="form.controls['peso'].hasError('max')">* Valor alto</p>
        <p *ngIf="form.controls['peso'].hasError('maxlength')">* Valor alto</p>
      </div>
      <ion-item>
        <ion-label>Equipe</ion-label>
        <ion-select cancelText="Cancelar" [formControl]="form.controls['equipe']">
          <ion-option *ngFor="let team of teams" [value]="team.id">{{ team.nome }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Frequência de atividade</ion-label>
        <ion-select cancelText="Cancelar" [formControl]="form.controls['frequencia_atividade']">
          <ion-option [value]="1">1x por Semana</ion-option>
          <ion-option [value]="2">2x por Semana</ion-option>
          <ion-option [value]="3">3x por Semana</ion-option>
          <ion-option [value]="4">4x por Semana</ion-option>
          <ion-option [value]="5">5x por Semana</ion-option>
          <ion-option [value]="6">6x por Semana</ion-option>
          <ion-option [value]="7">7x por Semana</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="(!form.controls['frequencia_atividade'].valid && form.controls['frequencia_atividade'].dirty) || serverError" class="danger">
        <p *ngIf="form.controls['frequencia_atividade'].hasError('required')">* Obrigatório</p>
        <p *ngIf="serverError">* {{ serverError }}</p>
      </div>
      <button class="buttons cancel" margin-top ion-button (click)="cancel()">Cancelar</button>
      <button class="buttons register" margin-top ion-button [disabled]="!form.valid || loading" (click)="register()">
        <span *ngIf="!loading">Concluir</span>
        <ion-spinner *ngIf="loading"></ion-spinner>
      </button>
    </ion-list>

  </form>
</ion-content>
