page-home {
  .map-conteiner {

    position: relative;
    height: 100%;
    width: 100vw;

    #map {
      height: 100%;
      width: 100vw;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      z-index: 1000;
      pointer-events: none;

      * {
        pointer-events: initial !important;
      }

      .image-conteiner {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        &.image-conteiner {
          img {
            height: 35px;
          }
        }
      }

      .local-conteiner {
        margin-top: 40px;
        padding: 10px;
        ion-item {
          border-radius: 10px;
        }
      }

      .run-today-conteiner {
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;

        button {
          height: 80px;
          border-radius: 05px;
          img {
            height: 100%;
          }
        }
      }

    }

  }

}
