<ion-content>
  <div class="map-conteiner">
    <div id="map"></div>
    <div class="overlay">
      <div class="image-conteiner">
        <img text-right src="/assets/imgs/logo.png">
      </div>
      <div class="local-conteiner">
        <ion-item>
          <button color="dark" (click)="menuToogle()" ion-button clear item-start icon-start>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-input [(ngModel)]="query" (ionChange)="search($event)" placeholder="Local"></ion-input>
          <button color="dark" (click)="setCenterByUserLocation()" ion-button clear item-end icon-end>
            <ion-icon name="locate"></ion-icon>
          </button>
        </ion-item>
        <ion-item *ngFor="let p of searchedPoints" tappable (click)="setCenterByPoint(p)">
          <ion-label text-center>{{ p.nome }}</ion-label>
        </ion-item>
      </div>
      <div class="run-today-conteiner">
        <button (click)="runToday()" padding ion-button color="primary">
          <img src="assets/imgs/runner.png">
        </button>
      </div>
    </div>
  </div>
</ion-content>
