// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content {
  -webkit-overflow-scrolling: auto !important;
}

.primary {
  color: color($colors, primary);
}

.secondary {
  color: color($colors, secondary);
}

.danger {
  color: color($colors, danger);
}

.light {
  color: color($colors, light);
}

.dark {
  color: color($colors, dark);
}

ion-modal.inset-modal {
  background-color: rgba(0, 0, 0, .6);
  transition: opacity .25s ease-in-out;
  padding: 25vh 10vw;
  ion-content, .scroll-content, .fixed-content { border-radius: 05% !important; }
}
