<ion-content>

  <ion-toolbar>
    <ion-title>
      Já correu hoje?
    </ion-title>
    <ion-buttons end>
      <button (click)="dismiss()" ion-button icon-only>
        <ion-icon name='close' color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div padding>
    <p>
      Registre seu treino ou saiba sobre a qualidade do ar, conforto
      térmico e outras informaçoes que possam melhorar seu desempenho.
    </p>

    <ion-row>
      <button color="secondary" ion-button full round (click)="dismiss(true)" class="button">
        SIM
      </button>
    </ion-row>

    <ion-row>
      <button color="tertiary" ion-button full round (click)="dismiss(false)" class="button">
        NÃO
      </button>
    </ion-row>
  </div>

</ion-content>
