page-menu {
  ion-menu {
    color: color($colors, light);

    .menu-inner {
      padding-left: 10px;
      padding-top: 09%;
      position: relative;

      .user-image {
        height: 100px;
        width: 100px;
        border-radius: 40%;
      }

      .user-name {
        font-size: 25px;
        font-weight: bold;
        margin: 10px 0;
      }

      .links {
        height: 61vh;
        overflow: scroll;

        p:first-child {
          margin-top: 35px !important;
        }

        p {
          font-size: 20px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
