<ion-menu [content]="content">
  <!-- TODO: ADD EDIÇÃO DE PERFIL -->
  <img class="user-image" *ngIf="user.avatar" [src]="user.avatar.thumb.url">
  <p class="user-name">{{ user.name }}</p>
  <!-- TODO: ADD EQUIPE DO USER -->
  <!-- <p>Equipe R80</p> -->
  <div class="links">
    <!-- <p tappable (click)="openPage('test')">
      <ion-icon name="card"></ion-icon><span margin-left>Assine</span>
    </p>
    <p tappable (click)="openPage('test')">
      <ion-icon name="home"></ion-icon><span margin-left>RtAirQual</span>
    </p>
    <p tappable (click)="openPage('test')">
      <ion-icon name="paper"></ion-icon><span margin-left>Feed</span>
    </p>
    <p tappable (click)="openPage('test')">
      <ion-icon name="compass"></ion-icon><span margin-left>Boletim Diário</span>
    </p>
    <p tappable (click)="openPage('test')">
      <ion-icon name="person"></ion-icon><span margin-left>Histórico</span>
    </p>
    <p tappable (click)="openPage('test')">
      <ion-icon name="notifications"></ion-icon><span margin-left>Notificações</span>
    </p>
    <p tappable (click)="openPage('test')">
      <ion-icon name="checkmark-circle"></ion-icon><span margin-left>Desempenho</span>
    </p> -->
    <p tappable (click)="logOut()">
      <ion-icon name="log-out"></ion-icon><span margin-left>Sair</span>
    </p>
  </div>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
